<transclude-template src="modal/modal_footer.tmpl">
  <div class="btn btn-primary" ng-click="main.serviceBus.validate('filterForm').valid && main.submit();">
    <span><i class="glyphicon glyphicon-search icon"></i>搜索</span>
  </div>
</transclude-template>